[submodule "dashboard"]
	path = dashboard
	url = git@github.com:momenTUM-research-platform/momenTUM-dashboard.git
	branch = main
[submodule "json-maker"]
	path = json-maker
	url = git@github.com:momenTUM-research-platform/momenTUM-json-maker.git
	branch = dev
